<div style="font-family: Tahoma, Arial, sans-serif; font-size: 10pt; color: #000000; line-height: 1.25;">
  <b>{{AGENT_NAME}}</b><br>
  <b>{{AGENT_TITLE}}</b><br>
  <div style="margin: 6px 0;">
    <img src="{{LOGO_URL}}" alt="logo" style="height: 35px; width: auto; display: block;" border="0">
  </div>
  {{TAGLINE}}<br>
  {{PHONE}}<br>
  <a href="mailto:{{AGENT_EMAIL}}" style="color: #0000FF; text-decoration: underline;">{{AGENT_EMAIL}}</a><br>
  {{ADDRESS}}<br>
  <a href="{{WEBSITE_URL}}" style="color: #0000FF; text-decoration: underline;">{{WEBSITE_URL}}</a>
</div>
